---
layout: default
title: Team
permalink: /team/
tagline: "we are entirely composed of student volunteers."
description: CREATE is entirely composed of student volunteers.
image: /images/cover/team.jpg
---

<style type="text/css">
.team-cover {
  background-image: linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1) ), url({{page.image}});
}
</style>

<div class="jumbotron general-cover team-cover" >
  <div class="wrapper">
    <center>
      <h1><b>TEAM</b></h1>
      <span>MEET THE <b>CREATE UAS</b> TEAM</span>
    </center>
  </div>
</div>

<!---- 2018 EXECUTIVES ---->
<div class="wrapper">
  <div class="postBody">
    <div class="manual-post">
      <div class="manual manual-title" id="{{ stat }}">
        <strong>CURRENT TEAM</strong>
      </div>
    </div><br>
    <div class="row post-list">
      {% assign people = site._people | sort:"index" %}
      {% for person in people %}
      <div class="col-4 col-md-4 col-sm-4 post-card-col">
          <div style="background: url('{{person.face-url}}'); background-size: cover"
              class="card">
              <a href="{{person.url}}">
                <div class="post-card-contents">
                    <h2>{{ person.title }}</h2>
                    <p>{{ person.role | strip_html | truncatewords: 30}}</p>
                </div>
              </a>
          </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>


{% include page_bottom.html %}
