<div class="main-site-nav">
	<div class="wrapper trigger site-navigation">
	<ul class="topnav" id="myTopnav">
		<a class="site-title-banner main-nav-link" href="/">
			<img src="/images/logos/logo-2.png" style="width: 50px;"/>
			CREATE UAS
		</a>
		<li>
			<a class="right-nav main-nav-link"
				href="{{'/about' | prepend: site.baseurl }}">
				About
			</a>
			<span class="exclamationMark"> </span>
		</li>
		<li>
			<a class="right-nav main-nav-link"
				href="{{'/wiki' | prepend: site.baseurl }}">
				Wiki
			</a>
			<span class="exclamationMark"> </span>
		</li>
		<li>
			<a class="right-nav main-nav-link"
				href="{{'/aircrafts' | prepend: site.baseurl }}">
				Aircrafts
			</a>
			<span class="exclamationMark"> </span>
		</li>
		<li>
			<a class="right-nav main-nav-link"
				href="{{'/team' | prepend: site.baseurl }}">
				Team
			</a>
			<span class="exclamationMark"> </span>
		</li>
		<li class="icon main-nav-link">
			<ar href="javascript:void(0);" onclick="myFunction()"><i class="fa fa-bars" aria-hidden="true"></i></ar>
		</li>
	</ul>
	</div>
</div>
